/* /home/zshmeta/les-democrates/src/App.css */
.App {
  text-align: center;
}

h1 {
  font-family: "Times New Roman", serif; 
  font-size: 5rem; /* Huge font size */
  color: #333; /* Dark color for elegance */
  margin: 0; /* Remove default margin */
  margin-top: 9rem;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(to right, blue, white, red);
  font-family: Arial, sans-serif;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #000;
  text-align: center;
}