/* /home/zshmeta/les-democrates/src/App.css */
.App {
  text-align: center;
}

@font-face {
  font-family: 'Romanesco';
  src: url('./assets/fonts/Romanesco-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.coming-soon {
  padding-top: 50px;
  font-family: 'Romanesco', sans-serif;
  font-size: 2rem;
  color: #000;
}

/* Example style for your h1 element */
h1 {
  font-family: 'Romanesco', sans-serif;
  text-align: center;
  background: linear-gradient(90deg, blue, red); /* Gradient colors: blue, white, and red */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

}




body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(to right, blue, white, red);
  font-family: Arial, sans-serif;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #000;
  text-align: center;
}